.bgpage{
    background-color:#EAC4FF   ;
   }

.bgmyself
{
    background-color: #b5d1ff;
}

.bgactivities
{
    background-color: #c4baff;
}

.headactivitie
{
    text-align: center;
    color: #FFFFFF ;
    background-color: #aa7dff ;
    padding: 10px;
    margin-bottom:20;
    font-size: 20px;

}
.bodyactivitie
{
    color: #00144d ;
    font-size: 25px   ;
    text-align: left;
    margin-left: 40px;
    padding: 10px;
    margin-bottom: 10px;

}

.hobbypic
{
    width: 1200px;
    height: 628px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;

}



.h1
{
    text-align: center;
    color: #FFFFFF ;
    background-color: #7de9ff ;
    padding: 10px;
    margin-bottom:20;
    font-size: 30px;
}



.header{
    text-align: center;
    color: #FFFFFF ;
    background-color: #89B6FF ;
    padding: 10px;
    margin-bottom:20;

}

.nav{
    background-color: #9395FE ;
    padding: 3px 0px;
    text-align: center;
    margin: 10px;
}

.nav li
{
    list-style: none;
    display: inline-block;
    text-align: center;
    border-left: 1px solid white;
    font-size: 18px ;
    padding: 10px 40px;
}

.nav li a
{
    color: white;
    text-decoration: none;
}


.myref{
    color: #00144d ;
    font-size: 20px   ;
    text-align: center;
}

.pic{
    color: #276cee    ;



}

.vid{
    color : #29b79f  ;
    font-size: 40px;
}

.box
{
    width: 900px;
    height: 700px;
    margin-left: auto ;
    margin-right: auto ;
    margin-top: 80px;
    margin-bottom: 80px;
    border-style: solid;  
    padding: 30px;
    padding-top: 90px;
    background-color: #93c9ff;

}

.textbox
{
    font-size: 18px ;
    text-align: center;
    color: rgb(0, 51, 255);
    padding: 10px;

}

.textintro
{
    font-size: 18;
    color: rgb(0, 0, 255);
    text-align: center;
    padding: 10px;

}
    